.footer{
  display: flex;
  justify-content: space-between;
}
.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 20px;
}
.copyrithg{
  font-size: 20px;
  font-weight: 400;
  line-height: 125%;
  color: #fff;
}

@media(max-width: 1400px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}