.header {
  padding: 0;  
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 18px;
}
.img-logo{
  width: 70px;
  height: 48px;
}
.header-span{
  font-weight: 500;
  font-size: 40px;
  line-height: 125%;
  color: #ffff;
}
.meniu-nav{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 30px;
}
.meniu-a {
  font-size: 20px;
  line-height: 125%;
  text-decoration: none;
  font-style: normal;
  text-align: center;
  color: #fff;
}